# AI LLMS Configuration

# LLM used for converting invoice screenshot's text as a json
VISION_AI_BASE_URL=
VISION_AI_API_KEY=
VISION_AI_MODEL=

# LLM used for extracting invoice fields from the lllm_vision json as to a canonical json
EXTRACTOR_AI_BASE_URL=
EXTRACTOR_AI_API_KEY=
EXTRACTOR_AI_MODEL=

# LLM used for checking invoice compliance
CONFORMITY_AI_BASE_URL=
CONFORMITY_AI_API_KEY=
CONFORMITY_AI_MODEL=

# LLM used for allocation of invoice data to french accounting ledger (comptes pcg)
ALLOCATION_AI_BASE_URL=
ALLOCATION_AI_API_KEY=
ALLOCATION_AI_MODEL=

# LLM used for bank reconciliation
RECONCILIATION_AI_BASE_URL=
RECONCILIATION_AI_API_KEY=
RECONCILIATION_AI_MODEL=

# other LLMs
RAG_AI_BASE_URL=
RAG_AI_API_KEY=
RAG_AI_MODEL=

RAG_EMBEDDING_AI_BASE_URL=
RAG_EMBEDDING_AI_API_KEY=
RAG_EMBEDDING_AI_MODEL=

SEARCH_AI_BASE_URL=
SEARCH_AI_API_KEY=
SEARCH_AI_MODEL=

REPORT_AI_BASE_URL=
REPORT_AI_API_KEY=
REPORT_AI_MODEL=
